APP_ENV=
APP_PORT=
JWT_SECRET=
JWT_DURATION_MINUTES=
SHUTDOWN_TIMEOUT_SECONDS=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSLMODE=

MONGO_URI=
MONGO_DB_NAME=
MONGO_COLLECTION=
MONGO_JOURNEY_ENABLE=

OAUTH2_ACCESS_TOKEN_DURATION_MINUTES=
OAUTH2_REFRESH_TOKEN_DURATION_DAYS=
OAUTH2_AUTH_CODE_DURATION_MINUTES=

REDIS_URL=
